* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: sans-serif;
}
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --bg-root: hsl(217, 28%, 15%);
    --bg-main: hsl(218, 28%, 13%);
}
a {
    text-decoration: none;
}
p {
    max-inline-size: 75ch;
    line-height: 1.7;
}

html {
    background-color: var(--bg-root);
    color: #fff;
}
body > *:not(footer) {
    margin-bottom: 5em;
}
/* header-start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
}
header ul li {
    display: inline-block;
    padding: 0 10px;
}
header ul li a {
    color: #fff;
}
/* header-end */

.land{
    width: fit-content;
    text-align: center;
    margin-inline: auto;
}
.land > * {
    margin-block: 1em;
}

/* main-start */
main {
    background-color: var(--bg-main);
    position: relative;
}
main::before {
    content: '';
    width: 100%;
    height: 35em;
    background-image: url(../assets/images/icons/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(-50%);
    z-index: -1;
}   
/* main-end */